.brands {
  background-image: url(../img/brands-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin: 200px 108px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    align-items: center;
    padding: 55px 85px;
  }

  &__title {
    font-family: $first-family;
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
  }

  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 107px;
    // width: 1059px;
  }

  &__item {
    cursor: pointer;
  }
}
